<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Вхід</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>

<body>

<div class="login">

    <h1>Увійти</h1>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="error">
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}

    {% if success %}
        <div class="success">
            {{ success }}
        </div>
    {% endif %}

    <form method="POST" action="/login">

        <label for="name">Ім'я</label>

        <input
            type="text"
            id="name"
            name="name"
            placeholder="Введіть ім'я"
            required
        >

        <label for="password">Пароль</label>

        <input
            type="password"
            id="password"
            name="password"
            placeholder="Введіть пароль"
            required
        >

        <button type="submit">
            Увійти
        </button>

    </form>

</div>

</body>
</html>
